body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1986px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:57px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u5886 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:21px;
  width:700px;
  height:57px;
  font-size:20px;
  color:#FFFFFF;
}
#u5886_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:696px;
  word-wrap:break-word;
}
#u5887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:57px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u5887 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:21px;
  width:450px;
  height:57px;
  font-size:20px;
  color:#FFFFFF;
}
#u5887_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:446px;
  word-wrap:break-word;
}
#u5888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:769px;
}
#u5888 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:78px;
  width:700px;
  height:769px;
}
#u5888_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:744px;
}
#u5889 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:76px;
  width:450px;
  height:744px;
}
#u5889_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u5890 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:1438px;
  width:200px;
  height:1px;
}
#u5890_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u5891 {
  border-width:0px;
  position:absolute;
  left:1985px;
  top:260px;
  width:1px;
  height:200px;
}
#u5891_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u5892 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:167px;
  width:253px;
  height:35px;
  color:#CC0000;
}
#u5892_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  word-wrap:break-word;
}
#u5893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:340px;
}
#u5893 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:872px;
  width:654px;
  height:340px;
}
#u5893_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
